@use "./helpers";
@use "./variables" as var;

.header {
  padding: 1.125rem 0;
  margin-bottom: 2.5rem;

  // Header outer container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include helpers.mq(1024px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  // Header Link
  &__logos a {
    display: block;
  }

  // Header Logos
  &__logos {
    display: flex;
    align-items: center;
  }

  .nav {
    margin-top: 2.5rem;

    @include helpers.mq(1024px) {
      margin-top: 0;
    }

    &__list {
      display: flex;
      align-items: center;

      a:not(:first-child) {
        margin-left: 20px;
      }
    }

    &__link {
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.logomark {
  width: 2.5rem;
}

.logotype {
  margin-left: 1rem;
  width: 6rem;
}

// Post Card
.post-card {
  display: block;

  padding: 20px;
  box-shadow: var.$shadow-medium;
  border-radius: var.$radius;
  border: 1px solid var.$border-light;

  transition: all ease-in .3s;

  margin-bottom: 40px;

  &__image {
    height: 12rem;
    margin-bottom: 20px;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 24px;
  }

  &__description {
    font-family: var.$font-serif, var.$font-safe-serif;
    line-height: 2;
    margin-bottom: 24px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var.$text-light;

    &__author {
      display: flex;
      align-items: center;
      gap: .5rem;

      img {
        height: 48px;
        width: 48px;
        border-radius: 100%;
      }
    }

    &__date {

    }
  }

  &:hover {
    transform: translateY(-20px);
    box-shadow: var.$shadow-large;
  }
}

// Start End
.footer {
  margin-top: 80px;
  border: 1px solid var.$border-light;

  &__content {
    padding: 40px 0;
    text-align: center;

    a {
      text-decoration: underline;
      text-decoration-color: inherit;
    }
  }
}
// End Footer