@use "./helpers";
@use "./variables" as var;

.category__title__container {
  margin-bottom: 80px;
}

.category__title {
  font-size: 32px;
  font-weight: bold;
}

// Header
.header {
  padding: 20px 0;
  margin-bottom: 2.5rem;

  // Header outer container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include helpers.mq(1024px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  // Header Link
  &__logos a {
    display: block;
  }

  // Header Logos
  &__logos {
    display: flex;
    align-items: center;
  }

  // Nav
  .nav {
    margin-top: 2.5rem;

    @include helpers.mq(1024px) {
      margin-top: 0;
    }

    &__list {
      display: flex;
      align-items: center;

      a:not(:first-child) {
        margin-left: 20px;
      }
    }

    &__link {
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Logos
.logomark {
  width: 2.5rem;
}

.logotype {
  margin-left: 12px;
  width: 6rem;
}

// Post Card
.post-card {
  display: block;

  padding: 20px;
  box-shadow: var.$shadow-medium;
  border-radius: var.$radius;
  border: 1px solid var.$border-light;

  transition: transform .3s cubic-bezier(.34, 2, .6, 1), box-shadow .2s ease;

  margin-bottom: 40px;

  &__image {
    height: 12rem;
    margin-bottom: 20px;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 24px;
  }

  &__description {
    font-family: var.$font-serif, var.$font-safe-serif;
    line-height: 2;
    margin-bottom: 24px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var.$text-light;
    font-size: 14px;

    &__author {
      display: flex;
      align-items: center;
      gap: .5rem;

      img {
        height: 48px;
        width: 48px;
        border-radius: 100%;
      }
    }
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: var.$shadow-large;
  }
}

// Post

.post {
  margin-top: 80px;

  &__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  // Post Infos : cate + link to category
  &__infos {
    font-size: 14px;
    color: var.$text-light;
    margin-bottom: 20px;

    &__category {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  // Actual post content
  &__body {
    font-family: var.$font-serif, var.$font-safe-sans;
    line-height: 2;
  }

  // Description about post author
  &__author {
    border: 1px solid var.$border-light;
    border-radius: var.$radius;

    line-height: 2;
    margin-top: 72px;
    padding: 20px;
    text-align: center;

    @include helpers.mq(1024px) {
      display: flex;
      align-items: center;
      text-align: left;
    }

    &__image {
      width: 8rem;
      border-radius: 100%;
      display: inline-block;

      @include helpers.mq(1024px) {
        width: 16.66667%;
      }
    }

    div {
      margin-left: 2em;
    }

    &__name {
      span {
        font-weight: 700;
      }

      & + p {
        font-size: 14px;
        display: block;
      }
    }
  }
}

// Start End
.footer {
  margin-top: 80px;
  border-top: 1px solid var.$border-light;

  &__content {
    padding: 40px 0;
    text-align: center;

    a {
      text-decoration: underline;
      text-decoration-color: inherit;
    }
  }
}

// End Footer
