body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, "sans-serif";
}

.title {
    text-align: center;
}

.wrapper {
    max-width: 540px;
    margin: 0 auto;
}

.post {
    padding: 20px;
    margin: 40px 0;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .12);
    border-radius: 5px;
}