{% extends 'base.html.twig' %}

{% block title %} Blog {{ post.title }} {% endblock %}
{% block body %}
    <div>
        <h2>{{ post.title }}</h2>
        <small>{{ post.publishedAt|date("d/m/Y") }}</small>
        <p>{{ post.body }}</p>
    </div>
{% endblock %}